<div class="navtabs-container" mat-align-tabs="center">
  <nav  mat-tab-nav-bar fxFlex fxLayout fxLayoutAlign="center center">
    <a #home="routerLinkActive" [active]="home.isActive"
       routerLink="/" mat-tab-link
       routerLinkActive>
      Home
    </a>

    <a #accommodation="routerLinkActive" [active]="accommodation.isActive"
       routerLink="/accommodation" mat-tab-link
       routerLinkActive>
      Accommodation
    </a>

    <a #foodandbeverage="routerLinkActive" [active]="foodandbeverage.isActive"
       routerLink="/food-and-beverage" mat-tab-link
       routerLinkActive>
      Food &amp; Beverage
    </a>

    <a #lifestyle="routerLinkActive" [active]="lifestyle.isActive"
       routerLink="/lifestyle" mat-tab-link
       routerLinkActive>
      Lifestyle
    </a>

    <a #celebrations="routerLinkActive" [active]="celebrations.isActive"
       routerLink="/celebrations" mat-tab-link
       routerLinkActive>
      Celebrations
    </a>

    <a #offers="routerLinkActive" [active]="offers.isActive"
       routerLink="/offers" mat-tab-link
       routerLinkActive>
      Offers
    </a>
  </nav>
</div>


